{% extends "base.html" %}

{% block page_content %}
{% include "nav.html" %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NBA Stints stats</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body>
  <script>
    function FilterByGame() {
      $("canvas#myChart_homeScore").remove();
      $("#divHomeScore").append('<canvas id="myChart_homeScore" width="100%"></canvas>')

      $("canvas#myChart_awayScore").remove();
      $("#divAwayScore").append('<canvas id="myChart_awayScore" width="100%"></canvas>')

      $("canvas#myChart_homePos").remove();
      $("#divHomePos").append('<canvas id="myChart_homePos" width="100%"></canvas>')

      $("canvas#myChart_awayPos").remove();
      $("#divAwayPos").append('<canvas id="myChart_awayPos" width="100%"></canvas>')


      var category = document.getElementById("id_category")
      var id = $('#NewProgramForm select[name="category"]').val()
      var post_request = $.get("Game/",
        { "game_id": id, csrfmiddlewaretoken: "{{ csrf_token }}" }, function (data) {
          var stints = [];
          const homeScoreValues = Object.values(data[0].homeScore);
          const awayScoreValues = Object.values(data[0].awayScore);
          const homePosValues = Object.values(data[0].homePos);
          const awayPosValues = Object.values(data[0].awayPos);
          const stintStartValues = Object.values(data[0].stintStart);
          const stintEndValues = Object.values(data[0].stintEnd);
          const stintVal = Object.values(data[0].stints);
          for(var x=1;x<= stintStartValues.length; x++){
            stints.push("Stints " + stintVal[x-1] + "(seconds)");
            //stints.push("stints " + stints + "(seconds) Start_Stint " + stintStartValues[x-1] + " End_Stint " + stintEndValues[x-1]);
          }
          const ctx_homeScore = document.getElementById('myChart_homeScore').getContext('2d');
          const chart_homeScore = new Chart(ctx_homeScore, {
            type: 'bar',
            data: {
              labels: stints,
              datasets: [{
                label: "Home Points Score",
                data: homeScoreValues,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              },
              {
                label: "Guest Points Score",
                data: awayScoreValues,
                backgroundColor: 'rgba(245, 40, 145, 0.8)',
                borderColor: 'rgba(245, 40, 145, 0.8)',
                borderWidth: 1
              }
            ]
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Total Points Score at Home vs Guest',
                  font: {
                    style: 'normal',
                    lineHeight: 1.2,
                    size: 18,
                  },
                }
              },
              scales: {
                y: {
                  beginAtZero: true,
                  display: true,
                  title: {
                    display: true,
                    text: 'Score',
                    font: {
                      style: 'normal',
                      lineHeight: 1.2
                    },
                    padding: { top: 0, left: 0, right: 0, bottom: 5 }
                  }
                }
              }
            }

          });

          // Second Graph
          const ctx_homeScore1 = document.getElementById('myChart_awayScore').getContext('2d');
          const chart_homeScore1 = new Chart(ctx_homeScore1, {
            type: 'bar',
            data: {
              labels: stints,
              datasets: [{
                label: "Away Points Score",
                data: awayScoreValues,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              }]
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Total Points Score by Guest',
                  font: {
                    style: 'normal',
                    lineHeight: 1.2,
                    size: 18,
                  },
                }
              },
              scales: {
                y: {
                  beginAtZero: true,
                  display: true,
                  title: {
                    display: true,
                    text: 'Score',
                    font: {
                      style: 'normal',
                      lineHeight: 1.2
                    },
                    padding: { top: 0, left: 0, right: 0, bottom: 5 }
                  }
                }
              }
            }

          });
          // third 
          const ctx_homeScore2 = document.getElementById('myChart_homePos').getContext('2d');
          const chart_homeScore2 = new Chart(ctx_homeScore2, {
            type: 'bar',
            data: {
              labels: stints,
              datasets: [{
                label: "Home Position",
                data: homePosValues,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              }]
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Positions at Home',
                  font: {
                    style: 'normal',
                    lineHeight: 1.2,
                    size: 18,
                  },
                }
              },
              scales: {
                y: {
                  beginAtZero: true,
                  display: true,
                  title: {
                    display: true,
                    text: 'Score',
                    font: {
                      style: 'normal',
                      lineHeight: 1.2
                    },
                    padding: { top: 0, left: 0, right: 0, bottom: 5 }
                  }
                }
              }
            }

          });

          //fourth
          const ctx_homeScore3 = document.getElementById('myChart_awayPos').getContext('2d');
          const chart_homeScore3 = new Chart(ctx_homeScore3, {
            type: 'bar',
            data: {
              labels: stints,
              datasets: [{
                label: "Points",
                data: awayPosValues,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              }]
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Positions on the Road',
                  font: {
                    style: 'normal',
                    lineHeight: 1.2,
                    size: 18,
                  },
                }
              },
              scales: {
                y: {
                  beginAtZero: true,
                  display: true,
                  title: {
                    display: true,
                    text: 'Score',
                    font: {
                      style: 'normal',
                      lineHeight: 1.2
                    },
                    padding: { top: 0, left: 0, right: 0, bottom: 5 }
                  }
                }
              }
            }

          });
        })
     
    }
  </script>
  <main class="container">
    <section style="margin-bottom: 0.5rem;">
      <hgroup>
        <h2>NBA Stints Stats</h2>

    </section>
    <form name="NewProgramForm" id="NewProgramForm" onchange="FilterByGame()">{% csrf_token %}
      <select name="category" id="id_category">
        <option value="" selected="selected">Game</option>
        <option value="202306010DEN">202306010DEN</option>
        <option value="202306030DEN">202306030DEN</option>
      </select>
    </form>

    <div class="grid" style="margin-bottom: 1.5rem;" id="divHomeScore">
      <canvas id="myChart_homeScore" width="100%"></canvas>
    </div>

    <div class="grid" style="margin-bottom: 1.5rem;" id="divAwayScore">
      <canvas id="myChart_awayScore" width="100%"></canvas>
    </div>

    <div class="grid" style="margin-bottom: 1.5rem;" id="divHomePos">
      <canvas id="myChart_homePos" width="100%"></canvas>
    </div>
    <div class="grid" style="margin-bottom: 1.5rem;" id="divAwayPos">
      <canvas id="myChart_awayPos" width="100%"></canvas>
    </div>

    </form>
    <!-- <div class="grid">
      <canvas id="myChart_avg_lvl" width="100%"></canvas>
    </div>  -->
  </main>

  <script>
    
  </script>

</body>

</html>
{% endblock %}