
{% block title %}Welcome {% endblock %}
{% block head %}Welcome {% endblock %}
{% block content %}
{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<a href="/pages/home/" style="padding:5px;">Home</a>
<a href="/pages/addFleet/" style="padding:5px;">Add fleet</a>
<a href="/pages/fleetList/" style="padding:5px;">Fleet list</a>
<a href="/pages/carModel/" style="padding:5px;">Add car model</a>
<a href="/pages/brand/" style="padding:5px;">Add brand</a>


{% if user.is_authenticated %}
<div class="alert alert-success" role="alert">
    <h3>Welcome {{ user.username }}!</h3>
    <a href="{% url 'logout' %}">Logout?</a>
</div>
{% else %}
<div class="alert alert-success" role="alert">
    <h3>Welcome!</h3>
    <a href="{% url 'register' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}

    {% endblock %}


