name: Build and Push GPS Frontend

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend_gps/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./frontend_gps
          push: true
          tags: uranbileguka/gps_frontend:latest
